{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenue sur JobStep</h1>

        <div class="d-grid gap-3 col-6 mx-auto">
            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn-secondary">Créer un compte</a>
            <a href="{{ path('app_parcours_index') }}" class="btn btn-success">Mon parcours</a>
            <a href="{{ path('app_messages_index') }}" class="btn btn-info">Voir les messages</a>
            <a href="{{ path('app_ressources_index') }}" class="btn btn-warning">Voir les ressources</a>
            <a href="{{ path('admin') }}" class="btn btn-dark">Accès administrateur</a>
        </div>
    </div>
{% endblock %}
